In [1]:

# ==========================================
# SECCI√ìN 1: IMPORTAR LIBRER√çAS
# ==========================================

# Para hacer peticiones HTTP, basicamente con esta peticion traemos el codigo HTML de la pagina.
import requests

# Se usa este modulo para parsear el codigo HTML, se transforma el HTML en una estructura de datos mas facil de recorrer (Dom"arbol de jerarquias")
from bs4 import BeautifulSoup

# Es una libreria especializada en el manejo y analisis de datos.
import pandas as pd

# Base de datos simple, permite crear tablas, guardar datos y hacer consultas SQL pero todo dentro de un archivo.fjy
import sqlite3

# Queremos usar funciones de tiempo (pausas, mediciones)
import time

import json

from urllib.parse import urljoin

# URL del sitio a scrapear.
URL_BASE = "http://books.toscrape.com/"

API_KEY = "AIzaSyCKEIDpZMco7DjmjVcqYxcqQ1yImshAjDI"

In [2]:
# ==========================================
# SECCI√ìN 2: WEB SCRAPING - OBTENER DATOS
# ==========================================

print("="*60)
print("Scrapeando el sitio web completo")
print("="*60)
# ----------------------------------------------------------------
# PASO 1: OBTENCION DE TODAS LAS CATEGORIAS DE LIBROS DE LA PAGINA.
# ----------------------------------------------------------------


print("\n Obteniendo categorias del sitio...")

# Hacemos una peticion HTTP de tipo "get", se conecta con el servidor del sitio web y servidor responde con el HTML, se guarda en respuesta lo que servidor nos devolvio.
respuesta = requests.get(URL_BASE)

# Se toma el texto crudo HTML y se traduce a un formato arbol de etiquetas navegable, cada etiqueta HTML se convierte en un objeto explorable con codigo.(soup)guarda todo. 
soup = BeautifulSoup(respuesta.text, "html.parser")

# Busca el menu lateral donde estan las categorias, find() busca el primer elemento que coincida, find_all() busca todos los elemetos que coincidan.
categorias_html = soup.find("ul", class_="nav-list").find("ul").find_all("a")

# Se guarda las categorias en un diccionario:{nombre: url}
categorias = {}

# Se recorre la lista de categorias se toma el nombre, se construye el link completo de la categoria y se guardan en el diccionario "categorias" 
for categoria in categorias_html:
    nombre = categoria.text.strip()         # Se obtiene el texto de la categoria(nombre de categoria)
    link = URL_BASE + categoria["href"]     # Se concatena la base URL con el enlace relativo para formar la URL completa de esa categoria.
    categorias[nombre] = link               # Se agrega como clave el nombre y como valor la URL completa de la categoria 

print(f"Encontradas {len(categorias)} categorias")
print(f"Ejemplos: {list(categorias.keys())[:3]}")   # "categorias.keys" devuelve todas la claves(nombres) del diccionario, 
                                                        #"list" lo convierte en una lista para manipularla facilmente. "[:3]" slice toma solo los primeros 3 nombres. 

# -----------------------------------------------------------
# PASO 2 SCRAPEAR TODAS LA CATEGORIAS DE LIBROS DE LA PAGINA.
# -----------------------------------------------------------

print("\n Scrapeando los libros de cada categoria")
print("  (Esto puede tardar varios minutos)")

# Definimos las listas para guardar la informacion  de cada libro.
titulos = []
precios = []
disponibilidades = []
ratings = []
categorias_lista = []

# Diccionario para convertir ratings de texto a n√∫meros
ratings_a_numeros = {
            "One": 1,
            "Two": 2,
            "Three": 3,
            "Four": 4,
            "Five": 5
}


# Este bucle recorre todas las categorias que se obtuvieron. Reecorre cada par(clave,valor) del diccionario.
for nombre_categoria, url_categoria in categorias.items():  # "items" devuelve pares(clave,valor).
    print(f"  ->{nombre_categoria}...", end=" ")             # Imprime el nombre de cada categoria en la misma linea EJ: -> nombre... -> nombre...

    # Se recorre las categorias que tengan varias paginas(Se recorren todas las paginas).
    siguiente_pagina = url_categoria  # Comienza apuntando a la primera pagina de la categoria y se ira actualizando si hay mas paginas en esa categoria. 
    libros_categoria = 0               # Contador de libros ,sirve para llevar registro de cuantos libros se procesan por categoria.



    # Este bucle se ejecuta mientras "sig. pagina" tenga un valor. Este bucle sirve para procesar todas las paginas de una categoria, una por una.
    while siguiente_pagina:
        # En cada vuelta del bucle hace una peticion HTTP y convierte el HTML a BeatifulSoup para poder extraer los datos.
        r = requests.get(siguiente_pagina)
        s = BeautifulSoup(r.text, "html.parser")

        # Se busca todos los libros en la pagina actual. Cada libro queda como un objeto de BeatifulSoup inspeccionable, facil de recorrer y del que se puede sacar informacion.
        libros = s.find_all("article", class_="product_pod")


        # Extraemos informacion de cada libro de la pagina actual.
        for libro in libros:
            titulos.append(libro.h3.a["title"])
            precios.append(libro.find("p", class_="price_color").text)
            disponibilidades.append(libro.find("p", class_="instock availability").get_text(strip=True))
            
            # Obtener rating
            rating_class = libro.find("p", class_="star-rating")["class"][1]
            ratings.append(ratings_a_numeros[rating_class])

            categorias_lista.append(nombre_categoria)
            libros_categoria += 1 # Contador de libros, sirve para saber cuantos libros se extrajeron de la categoria actual. 

        # Este bloque controla la paginacion.
        # Se busca en el objeto"s" que contiene el HTML actual la URL que lleva a la siguiente pagina, si existe "boton_next" sera un objeto con la URL de la sig. pagina. 
        boton_next = s.find("li", class_="next")
        # Si hay un boton una URL que lleve a la siguiente pagina, se procede a construir con la URL base de la categoria y el enlace a la siguiente categoria la URL que lleve a la siguiente pagina. 
        if boton_next:
            # Usar urljoin para construir la URL correctamente
            url_base_categoria = url_categoria.rsplit('/', 1)[0] + '/'
            url_relativa = boton_next.a["href"]
            siguiente_pagina = urljoin(url_base_categoria, url_relativa)

            # Se ejecuta si no hay boton.
        else:
            siguiente_pagina = None

            # Pausa breve para no saturar al servidor.
        time.sleep(0.2)
        
    # Se imprime en pantalla cuantos libros se extrajeron de cada categoria.
    print(f"{libros_categoria} libros") 

# Se imprime en pantalla el total de libros scrapeados
print(f"\n Total scrapeado: {len(titulos)} libros\n")

============================================================
Scrapeando el sitio web completo
============================================================

 Obteniendo categorias del sitio...
Encontradas 50 categorias
Ejemplos: ['Travel', 'Mystery', 'Historical Fiction']

 Scrapeando los libros de cada categoria
  (Esto puede tardar varios minutos)
  ->Travel... 11 libros
  ->Mystery... 32 libros
  ->Historical Fiction... 26 libros
  ->Sequential Art... 75 libros
  ->Classics... 19 libros
  ->Philosophy... 11 libros
  ->Romance... 35 libros
  ->Womens Fiction... 17 libros
  ->Fiction... 65 libros
  ->Childrens... 29 libros
  ->Religion... 7 libros
  ->Nonfiction... 110 libros
  ->Music... 13 libros
  ->Default... 152 libros
  ->Science Fiction... 16 libros
  ->Sports and Games... 5 libros
  ->Add a comment... 67 libros
  ->Fantasy... 48 libros
  ->New Adult... 6 libros
  ->Young Adult... 54 libros
  ->Science... 14 libros
  ->Poetry... 19 libros
  ->Paranormal... 1 libros
  ->Art... 8 libros
  ->Psychology... 7 libros
  ->Autobiography... 9 libros
  ->Parenting... 1 libros
  ->Adult Fiction... 1 libros
  ->Humor... 10 libros
  ->Horror... 17 libros
  ->History... 18 libros
  ->Food and Drink... 30 libros
  ->Christian Fiction... 6 libros
  ->Business... 12 libros
  ->Biography... 5 libros
  ->Thriller... 11 libros
  ->Contemporary... 3 libros
  ->Spirituality... 6 libros
  ->Academic... 1 libros
  ->Self Help... 5 libros
  ->Historical... 2 libros
  ->Christian... 3 libros
  ->Suspense... 1 libros
  ->Short Stories... 1 libros
  ->Novels... 1 libros
  ->Health... 4 libros
  ->Politics... 3 libros
  ->Cultural... 1 libros
  ->Erotica... 1 libros
  ->Crime... 1 libros

 Total scrapeado: 1000 libros

In [3]:
# ==========================================
# SECCI√ìN 3: LIMPIAR Y ORGANIZAR DATOS
# ==========================================

print("="*60)
print("Limpiando y organizando los datos")
print("-"*60)


# Se crea una tabla ordenada(dataframe "objeto") usando pandas, para manipular y guardar los datos facilmente.
tabla_df = pd.DataFrame({
        "Titulo": titulos,
        "Precio": precios,
        "Disponibilidad": disponibilidades,
        "Rating": ratings,
        "Categoria": categorias_lista
})

    # Se avisa en pantalla la creacion de una tabla con numero de filas totales.
print(f"Tabla DataFrame creado con {len(tabla_df)} filas")

# En este bloque de codigo eliminamos los signos raros del precio de cada libro y solo se deja los numeros en formato float.
tabla_df["Precio"] = (
        tabla_df["Precio"] 
        .str.replace("√Ç¬£","", regex=False)
        .str.replace("¬£", "", regex=False)
        .astype(float)
)

# Imprimimos en pantalla las primeras filas para confirmar visualmente que la limpieza funciono. el metodo head devuelve por defecto solo 5 filas de la tabla.
print("Precios limpiados (convertidos a numeros)")
print("\n Muestra de datos:")

pd.set_option("display.max_colwidth", None)
pd.set_option("display.width", 200)
pd.set_option("display.max_columns", None)


print(tabla_df.head())
print()

============================================================
Limpiando y organizando los datos
------------------------------------------------------------
Tabla DataFrame creado con 1000 filas
Precios limpiados (convertidos a numeros)

 Muestra de datos:
                                                                Titulo  Precio Disponibilidad  Rating Categoria
0                                              It's Only the Himalayas   45.17       In stock       2    Travel
1   Full Moon over Noah√¢¬Ä¬ôs Ark: An Odyssey to Mount Ararat and Beyond   49.43       In stock       4    Travel
2   See America: A Celebration of Our National Parks & Treasured Sites   48.87       In stock       3    Travel
3  Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel   36.94       In stock       2    Travel
4                                                 Under the Tuscan Sun   37.33       In stock       3    Travel

In [4]:
# ==========================================================================
# SECCI√ìN 4: CREAR BASE DE DATOS (DDL) =  Data Definition Language (CREATE).
# ==========================================================================


print("="*60)
print("Creando estructura de base de datos")
print("-"*60)

# ---------------------------
# Conexi√≥n a la base de datos
# ---------------------------

# Se crea un archivo base datos, se prepara un canal de comunicacion para poder trabajar con la base de datos con connect(). "conexion" objeto que mantiene la comunicacion.
conexion = sqlite3.connect("libros.db")
# Se crea un cursor para ejecutar comandos SQL.
cursor = conexion.cursor()

# Se imprime un mensaje en pantalla avisando que ya se puede trabajar con esa base. 
print("Conexion a 'libros.db' establecida")

============================================================
Creando estructura de base de datos
------------------------------------------------------------
Conexion a 'libros.db' establecida

In [5]:

# -------------------
# TABLA 1: CATEGORIAS
# -------------------
cursor.execute("""
CREATE TABLE IF NOT EXISTS Categorias (
    id_categoria     INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre_categoria TEXT UNIQUE NOT NULL
)
""")
# Se avisa en pantalla la creacion de la Tabla categorias
print("Tabla 'Categorias' creada")

# ---------------
# TABLA 2: LIBROS
# ---------------
# FOREIGN KEY relaciona con otra tabla , puente entre tablas permite que una tabla sepa a que fila de otra tabla pertenece, mantiene los datos consistentes.
cursor.execute("""
CREATE TABLE IF NOT EXISTS Libros (
    id_libro        INTEGER PRIMARY KEY AUTOINCREMENT,
    Titulo          TEXT NOT NULL,
    Precio          REAL NOT NULL,
    Disponibilidad TEXT,
    Rating          INTEGER,
    id_categoria    INTEGER,
    FOREIGN KEY (id_categoria) REFERENCES Categorias(id_categoria)
)
""")

print("Tabla 'Libros' creada")

# ----------------
# TABLA 3: AUTORES
# ----------------
cursor.execute("""
CREATE TABLE IF NOT EXISTS Autores (
    id_autor     INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre_autor TEXT UNIQUE NOT NULL
)
""")

print("Tabla 'Autores' creada")

# ------------------------------------------------------------------------
# TABLA 4: LIBRO_AUTOR (Tabla intermedia para la relacion muchos a muchos)
# ------------------------------------------------------------------------
# Un libro puede tener varios autores, un autor puede escribir varios libros.
cursor.execute("""
CREATE TABLE IF NOT EXISTS Libro_autor (
id_libro    INTEGER,
id_autor    INTEGER,
PRIMARY KEY (id_libro, id_autor),
FOREIGN KEY (id_libro) REFERENCES Libros(id_libro),
FOREIGN KEY (id_autor) REFERENCES Autores(id_autor)
)
""")

print("Tabla 'Libro_Autor' creada")

Tabla 'Categorias' creada
Tabla 'Libros' creada
Tabla 'Autores' creada
Tabla 'Libro_Autor' creada

In [6]:
# =====================================================================================
# SECCI√ìN 5: INSERTAR DATOS (DML) = Data Manipulation Language (INSERT, UPDATE, DELETE)
# =====================================================================================

print("="*60)
print("Insertando datos en la base de datos")
print("-"*60)

# ---------------------------
# PASO 1: INSERTAR CATEGORIAS
# ---------------------------

print("\n Insertando categoria...")

# "categoria_unicas" guarda una lista con todas las categorias unicas sin duplicados. Para usarlos luego al crear registros en la base de datos.
categorias_unicas = tabla_df["Categoria"].unique()

# Este bucle inserta todas las categorias unicas en la columna de Categorias de la base de datos, una por una, evitando duplicados.
# "VALUES" valor a insertar en la columna.(?) Permite asignar los datos de forma segura, evitando inyecciones SQL, mantiene el orden de los valores seg√∫n la posici√≥n de los '?'.
# (nombre_categoria) Python pasa el dato como tupla, porque asi es la sintaxis que SQlite espera.
for nombre_categoria in categorias_unicas:
    cursor.execute(
        "INSERT OR IGNORE INTO Categorias (nombre_categoria) VALUES(?)", 
        (nombre_categoria,)
    )

# Guarda los datos insertados o actualizados en la base de datos.
conexion.commit()
print(f"{len(categorias_unicas)} categorias insertadas")

# -----------------------
# PASO 2: INSERTAR LIBROS
# -----------------------
print("\n Insertando libros...")

# Este bucle devuelve la id_categoria de cada libro, para que cada libro al insertarse a la tabla "Libros" tenga su id_categoria de la categoria de donde vino.
for _, fila in tabla_df.iterrows():
    cursor.execute(
    "SELECT id_categoria FROM Categorias WHERE nombre_categoria = ?",
    (fila["Categoria"],)
)

    # Se toma el primer elemento que devolvio la consulta SQL que se hizo en el bucle anterior(fila["categoria"],). Seria el numero de fila de cada categoria (3,).
    id_categoria = cursor.fetchone()[0]

    # Se insertan los libros. VALUES(?,?,?,?,?) Los maracadores de posicion cada uno se reemplaza con un valor de la tupla que viene despues.
    cursor.execute("""
    INSERT INTO Libros (Titulo, Precio, Disponibilidad, Rating, id_categoria)
    VALUES (?,?,?,?,?)
""", (fila["Titulo"], fila["Precio"], fila["Disponibilidad"], fila["Rating"], id_categoria))
    
conexion.commit()
print(f"{len(tabla_df)} libros insertados")

# --------------------------------------------------------------------
# USAMOS A LA API DE OPEN LIBRARY PARA OBTENER EL AUTOR DE CADA LIBRO.
# --------------------------------------------------------------------
print("\n Obteniendo autores reales desde Google Books API...")
print(" (Esto puede tardar varios minutos se consulta libro por libro)")

# Funci√≥n para obtener el nombre de los autores de cada libro usando la API de Google Books.
def obtener_autores(titulo):
    # reemplazamos los espacios del titulo del libro con + para que la API reconozca el titulo de cada libro.(Las URLs no aceptan espacios).
    # Le pedimos a openlibrary que nos devuelva en formato json el resultado de buscar el autor de cada libro que le pasemos.(Pedimos solo un resultado)
    try:
        titulo_limpio = titulo.replace(" ", "+")
        url = f"https://www.googleapis.com/books/v1/volumes?q={titulo_limpio}&key={API_KEY}"



        # Se hace la peticion al servidor de open library los autores de cada libro, si tarda mas de 5 sg la peticion cortamos la peticion.(reponse guarda la respuesta de la peticion)  
        response = requests.get(url, timeout=5)

        # Convertimos el objeto response con los datos json de la peticion a un diccionario, facil de usar.
        dicc_autores = response.json()

        
        items = dicc_autores.get('items')
            
        if not items:
            return "Autor desconocido"

        # Obtener informaci√≥n del libro (Google Books usa 'items' y 'volumeInfo') 
        item = items[0]
        info = item.get("volumeInfo", {})


        # Obtener autores (Google Books usa 'authors')
        autores = info.get("authors", [])

            # Esta condicional evalua si la ahora lista autores contiene almenos un elemento. Y se toma su primer elemento.
        if autores:
            return autores[0]
            
    except requests.exceptions.Timeout:
        return "Autor desconocido"
    
    except Exception as e:
        return "Autor desconocido"

# Guarda como respaldo local todos los autores consultados.    
autores_por_libro = {}

# Se cuenta el total de libros que se tiene y se tiene un contador para saber cuantos libros ya se procesaron su busqueda de autores.
total_libros = len(tabla_df)
contador = 0

# Se recorre cada titulo, se busca su autor y se guarda. Solo se procesan los titulos una sola vez.
for titulo in tabla_df["Titulo"].unique():
    contador += 1 # contamos cuantos libros llevamos procesados.
    
    # Se muestra un progreso cada 50 libros.
    if contador % 50 == 0:
        print(f"  Procesados: {contador}/{total_libros} libros")

    # Se llama a la funcion que limpia el titulo, consulta a la API de  open library y devuelve el autor o un "autor desconocido" por defecto
    autor = obtener_autores(titulo)
    autores_por_libro[titulo] = autor # Se guarda una copia del resultado por si se quiere usarlo o consultarlo.

# ------------------------
# PASO 3: INSERTAR AUTORES
# ------------------------

    # Se inserta el autor a la base de datos, en la tabla autores
    cursor.execute(
        "INSERT OR IGNORE INTO Autores (nombre_autor) VALUES(?)",
        (autor,)
    )

    time.sleep(0.3) 
# Confirmamos todos los cambios hechos en la base de datos.
conexion.commit()


# Verificamos para saber cuantas filas tiene la tabla autores, basicamente para saber cuantos autores se tiene y se guardo
cursor.execute("SELECT COUNT(*) FROM Autores")
total_autores = cursor.fetchone()[0] # "fetchone" obtiene la tupla que contiene el total de autores y [0] devuelve solo el primer elemento(solo el numero total de autores).

print(f"{total_autores} autores unicos obtenidos desde la API")
print("Algunos libros quedaron como 'Autor desconocido' no se encontraron en la API")

# Guardar respaldo JSON
try:
    with open("autores_por_libro.json", "w", encoding="utf-8") as f:
        json.dump(autores_por_libro, f, ensure_ascii=False, indent=2)
    print("Autores guardados en 'autores_por_libro.json'")

except Exception as e:
    print(f"Error al guardar JSON: {e}")

# Se muestra un aviso que se esta relacionando cada libro con su autor correspondiente (relacion muchos a muchos). 
print("\n Relacionando libros  con autores...")

# Este bucle recorre cada libro de la tabla df, busca la id en la base de datos segun el titulo de cada libro y guarda es id en "resultado"
for _, fila in tabla_df.iterrows():

    # Se hace una consulta a la base de datos para buscar la id_libro correspondiente al titulo que se tenga en "fila["Titulo"]".
    cursor.execute(
        "SELECT id_libro FROM Libros WHERE Titulo = ?",
        (fila["Titulo"],)
    )
    resultado = cursor.fetchone()
    
    # Se verifica si resultado tenga la tupla con el valor de la id del libro.
    if resultado:
        id_libro = resultado[0] # se obtiene el primer elemento de la tupla que es numero de la id unica de cada libro.

        # Se intenta encontrar el valor asociado con la clave fila["Titulo"] en el diccionario "autores_por_libro", si no existe se devuelve por defecto "Autor desconocido"
        nombre_autor = autores_por_libro.get(fila["Titulo"], "Autor desconocido")

        # Se busca la id_autor en la tabla autores. Buscando la id que corresponde al nombre del autor que tiene en nombre autor, y se reemplaza el nombre por la id de ese autor
        cursor.execute (
            "SELECT id_autor FROM Autores WHERE nombre_autor = ?",
        (nombre_autor,)
        )

        # se obtiene la tupla con la id de cada autor
        resultado_autor = cursor.fetchone()

        # se verifica si la tupla "resultado_autor" contiene algun valor, si lo tiene se selecciona el primer elemento que es la id unica del autor de turno.  
        if resultado_autor:
            id_autor = resultado_autor[0]


# ----------------------------
# PASO 4: INSERTAR LIBRO_AUTOR
# ----------------------------

            # se inserta en la tabla "libro autor" en la columnas id_libro y id_autor, la id de cada libro con la id de su autor correspondiente.
            cursor.execute(
                "INSERT OR IGNORE INTO libro_autor (id_libro, id_autor) VALUES(?,?)",
                (id_libro, id_autor)
            )

conexion.commit()
print("relaciones libro-autor creadas con autores reales\n")

============================================================
Insertando datos en la base de datos
------------------------------------------------------------

 Insertando categoria...
50 categorias insertadas

 Insertando libros...
1000 libros insertados

 Obteniendo autores reales desde Google Books API...
 (Esto puede tardar varios minutos se consulta libro por libro)
  Procesados: 50/1000 libros
  Procesados: 100/1000 libros
  Procesados: 150/1000 libros
  Procesados: 200/1000 libros
  Procesados: 250/1000 libros
  Procesados: 300/1000 libros
  Procesados: 350/1000 libros
  Procesados: 400/1000 libros
  Procesados: 450/1000 libros
  Procesados: 500/1000 libros
  Procesados: 550/1000 libros
  Procesados: 600/1000 libros
  Procesados: 650/1000 libros
  Procesados: 700/1000 libros
  Procesados: 750/1000 libros
  Procesados: 800/1000 libros
  Procesados: 850/1000 libros
  Procesados: 900/1000 libros
  Procesados: 950/1000 libros
851 autores unicos obtenidos desde la API
Algunos libros quedaron como 'Autor desconocido' no se encontraron en la API
Autores guardados en 'autores_por_libro.json'

 Relacionando libros  con autores...
relaciones libro-autor creadas con autores reales

In [7]:
# ==========================================
# SECCI√ìN 6: CONSULTAS SQL
# ==========================================

print("="*60)
print("Ejecutando consultas SQL")
print("-"*60)

print("\n--- CONSULTAS BASICAS ---\n")

# CONSULTA 1: LIBROS CON UN PRECIO MENOR A 20 LIBRAS.
print("Libros con precio < ¬£20:")
# Hacemos una consulta en donde pedimos a la tabla libros, 5 libros que cuesten menos de 20 libras.
consulta1 = pd.read_sql_query("""
    SELECT Titulo, Precio 
    FROM Libros 
    WHERE Precio < 20 
    LIMIT 5
""", conexion)

print(consulta1)
print()

============================================================
Ejecutando consultas SQL
------------------------------------------------------------

--- CONSULTAS BASICAS ---

Libros con precio < ¬£20:
                                    Titulo  Precio
0                     In a Dark, Dark Wood   19.63
1                         A Murder in Time   16.64
2   That Darkness (Gardiner and Renner #1)   13.92
3     Tastes Like Fear (DI Marnie Rome #3)   10.69
4  A Study in Scarlet (Sherlock Holmes #1)   16.73

In [9]:
# CONSULTA 2: LIBROS CON BUENA VALORACION.
print("Libros con 5 estrellas: ")
# Hacemos una consulta en donde pedimos a la base de datos que nos devuelva de las columnas Titulo, Rating (5 libros con 5 de rating).
consulta2 = pd.read_sql_query("""
    SELECT Titulo, Rating 
    FROM Libros 
    WHERE Rating = 5 
    LIMIT 5
""", conexion)

print(consulta2)
print()

Libros con 5 estrellas:
                                                                     Titulo  Rating
0                                        1,000 Places to See Before You Die       5
1                                    A Time of Torment (Charlie Parker #14)       5
2         What Happened on Beale Street (Secrets of the South Mysteries #2)       5
3  The Bachelor Girl's Guide to Murder (Herringford and Watts Mysteries #1)       5
4                                         The Silkworm (Cormoran Strike #2)       5

In [10]:
# CONSULTA 3: LIBROS CON SUS CATEGORIAS. (JOIN)
print("Libros con sus categorias: ")
# Hacemos una consulta a la base de datos para que nos devuelva 5 Libros con sus respectiva categorias.
consulta3 = pd.read_sql_query("""
            SELECT L.Titulo, C.nombre_categoria 
            FROM Libros AS L
            JOIN Categorias AS C ON L.id_categoria = C.id_categoria
            LIMIT 5                
""", conexion)

print(consulta3)
print()

Libros con sus categorias:
                                                                Titulo nombre_categoria
0                                              It's Only the Himalayas           Travel
1   Full Moon over Noah√¢¬Ä¬ôs Ark: An Odyssey to Mount Ararat and Beyond           Travel
2   See America: A Celebration of Our National Parks & Treasured Sites           Travel
3  Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel           Travel
4                                                 Under the Tuscan Sun           Travel

In [11]:
# CONSULTA 4: LIBROS CON SUS AUTORES REALES. (DOBLE JOIN)
print("Libros con sus autores reales: ")
# Hacemos una consulta a la base de datos para que nos devuelva 10 libros con sus autores reales.
consulta4 = pd.read_sql_query("""
            SELECT L.Titulo, A.nombre_autor
            FROM Libros AS L
            JOIN libro_autor AS la ON L.id_libro = la.id_libro
            JOIN Autores AS A ON la.id_autor = A.id_autor
            LIMIT 10 
""", conexion)

print(consulta4)
print()

Libros con sus autores reales:
                                                                                              Titulo      nombre_autor
0                                                                            It's Only the Himalayas        S. Bedford
1                                 Full Moon over Noah√¢¬Ä¬ôs Ark: An Odyssey to Mount Ararat and Beyond     Rick Antonson
2                                Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel        Rolf Potts
3                                                                               Under the Tuscan Sun     Frances Mayes
4                                                                                 A Summer In Europe     Marilyn Brant
5                                                                           The Great Railway Bazaar      Paul Theroux
6                                                                   A Year in Provence (Provence #1)       Peter Mayle
7  The Road to Little Dribbling: Adventures of an American in Britain (Notes From a Small Island #2)       Bill Bryson
8                                                          Neither Here nor There: Travels in Europe       Bill Bryson
9                                                                 1,000 Places to See Before You Die  Patricia Schultz

In [12]:
# CONSULTA 5: PRECIO PROMEDIO POR CATEGORIA. (GROUP BY, ORDER BY)
print("Precio promedio por categoria: ")
# Hacemos una consulta que nos devuelve las 5 categorias con los libros mas caros en promedio, con su precio promedio y cuantos libros tienen.
consulta5 = pd.read_sql_query("""
            SELECT C.nombre_categoria,
                   ROUND(AVG(L.precio),2) AS precio_promedio,
                   COUNT(*) AS total_libros
            FROM Libros AS L
            JOIN Categorias AS C ON L.id_categoria = C.id_categoria 
            GROUP BY C.nombre_categoria 
            ORDER BY precio_promedio DESC
            LIMIT 5
""", conexion) 

print(consulta5)
print()

Precio promedio por categoria:
  nombre_categoria  precio_promedio  total_libros
0         Suspense            58.33             1
1           Novels            54.81             1
2         Politics            53.61             3
3           Health            51.45             4
4        New Adult            46.38             6

In [13]:
# CONSULTA 6: RANKING DE LIBROS MAS CAROS POR CATEGORIA.(SUBCONSULTA)(FUNCIONES DE VENTANA: RANK(), OVER())
print("\n--- CONSULTAS AVANZADAS ---/n")
print("Top 3 libros mas caros por categoria: ")
# Se calcula un ranking por precio dentro de cada categoria en una subconsulta y desde afuera se filtran los libros con ranking 1 a 3 para mostrar los tres mas caros por categoria.
consulta6 = pd.read_sql_query("""
            SELECT nombre_categoria, Titulo, Precio, Ranking
            FROM (
                SELECT C.nombre_categoria, L.Titulo, L.Precio,
                        RANK() OVER (PARTITION BY L.id_categoria ORDER BY L.precio DESC) AS Ranking
                FROM Libros AS L
                JOIN Categorias AS C ON L.id_categoria = C.id_categoria
            )
            WHERE Ranking <= 3
            LIMIT 9
""", conexion)

pd.set_option("display.max_colwidth", None)
pd.set_option("display.width", 200)
pd.set_option("display.max_columns", None)

print(consulta6)
print()

--- CONSULTAS AVANZADAS ---/n
Top 3 libros mas caros por categoria:
     nombre_categoria                                                                  Titulo  Precio  Ranking
0              Travel                                        A Year in Provence (Provence #1)   56.88        1
1              Travel      Full Moon over Noah√¢¬Ä¬ôs Ark: An Odyssey to Mount Ararat and Beyond   49.43        2
2              Travel      See America: A Celebration of Our National Parks & Treasured Sites   48.87        3
3             Mystery                                           Boar Island (Anna Pigeon #19)   59.48        1
4             Mystery  The No. 1 Ladies' Detective Agency (No. 1 Ladies' Detective Agency #1)   57.70        2
5             Mystery                                                     The Past Never Ends   56.50        3
6  Historical Fiction                                        The Last Painting of Sara de Vos   55.55        1
7  Historical Fiction                                 A Flight of Arrows (The Pathfinders #2)   55.53        2
8  Historical Fiction                                                      Tipping the Velvet   53.74        3

In [14]:
# CONSULTA 7: LIBROS MAS CAROS QUE EL PROMEDIO. (SUBCONSULTA)
print("Libros mas caros que el promedio de su categoria: ")
# Hacemos una consulta que es verificar que precio de libros en su categoria esta encima del promedio, en la subconsulta se hace el promedio de precios por categoria de los libros.
# (Mostramos 5 libros con los precios mas altos de mayor a menor)
consulta7 = pd.read_sql_query("""
SELECT L.Titulo, L.Precio, C.nombre_categoria
FROM Libros AS L
JOIN Categorias AS C ON L.id_categoria = C.id_categoria
WHERE L.Precio > (
    SELECT AVG(L2.Precio)
    FROM Libros AS L2
    WHERE L2.id_categoria = L.id_categoria
)
ORDER BY L.Precio DESC
LIMIT 5
""", conexion)

print(consulta7)
print()

Libros mas caros que el promedio de su categoria:
                               Titulo  Precio nombre_categoria
0  The Perfect Play (Play by Play #1)   59.99          Romance
1   Last One Home (New Beginnings #1)   59.98          Fiction
2    Civilization and Its Discontents   59.95       Psychology
3      The Barefoot Contessa Cookbook   59.92   Food and Drink
4           The Diary of a Young Girl   59.90       Nonfiction

In [15]:
# CONSULTA 8: AUTORES CON MAYOR CANTIDAD DE LIBROS.(HAVING "MAGIA OSCURA")
print("Autores con mas libros en la pagina (Top 10): ")
# Se une la tabla autores con la tabla libros_autores, se agrupa por autor, se cuenta cuantas relaciones libro-autor tiene cada uno, se filtra los autores con 2 o mas libros, 
# se muestran los 10 primeros autores que tienen mas libros
consulta8 = pd.read_sql_query("""
SELECT A.nombre_autor, COUNT(*) AS cantidad_libros
FROM Autores AS A
JOIN Libro_autor as LA ON A.id_autor = LA.id_autor
GROUP BY A.nombre_autor
HAVING COUNT(*) >= 2
ORDER BY cantidad_libros DESC
LIMIT 10
""", conexion)

print(consulta8)
print()

Autores con mas libros en la pagina (Top 10):
          nombre_autor  cantidad_libros
0         Stephen King                7
1      Cassandra Clare                7
2       Natsuki Takaya                6
3        J. K. Rowling                6
4      Sophie Kinsella                5
5    Maggie Stiefvater                5
6          Bill Bryson                5
7    Pasquale De Marco                4
8     Malcolm Gladwell                4
9  George R. R. Martin                4

In [16]:
# ==========================================
# SECCI√ìN 7: OPTIMIZACI√ìN CON √çNDICES
# ==========================================

print("="*60)
print("Demostrando el poder de los √≠ndices")
print("-"*60)

consulta_test = "SELECT * FROM Libros WHERE id_categoria = 3"

print("\nMidiendo la velocidad de busqueda sin indices")


start = time.time()

for _ in range(100):
    pd.read_sql_query(consulta_test, conexion)

tiempo_sin_indice = time.time() - start
print(f"Tiempo: {tiempo_sin_indice:.4f} segundos")

print("\nCreando indice para realizar la busqueda con indice")
cursor.execute("CREATE INDEX IF NOT EXISTS idx_libros_categoria ON Libros(id_categoria)")
conexion.commit()
print("Indice creado")

print("\nMidiendo la velocidad de busqueda con el indice")
start = time.time()

for _ in range(100):
    pd.read_sql_query(consulta_test, conexion)
tiempo_con_indice = time.time() - start
print(f"Tiempo: {tiempo_con_indice:.4f} segundos")

mejora = ((tiempo_sin_indice - tiempo_con_indice) / tiempo_sin_indice) * 100
print(f"\nMEJORA DE VELOCIDAD: {mejora:.1f}%")
print("Los indices aceleran las busquedas en bases de datos grandes\n")

============================================================
Demostrando el poder de los √≠ndices
------------------------------------------------------------

Midiendo la velocidad de busqueda sin indices
Tiempo: 0.3857 segundos

Creando indice para realizar la busqueda con indice
Indice creado

Midiendo la velocidad de busqueda con el indice
Tiempo: 0.3152 segundos

MEJORA DE VELOCIDAD: 18.3%
Los indices aceleran las busquedas en bases de datos grandes

In [17]:
# ==========================================
# SECCI√ìN 8: DIAGRAMA UML
# ==========================================
print("="*60)
print("DIAGRAMA UML")
print("-"*60)

print("""
üìê DIAGRAMA DE RELACIONES (UML):

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ    CATEGORIAS       ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ id_categoria (PK)   ‚îÇ
‚îÇ nombre_categoria    ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
           ‚îÇ
           ‚îÇ 1:N (una categor√≠a, muchos libros)
           ‚îÇ
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚ñº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ      LIBROS         ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ id_libro (PK)       ‚îÇ
‚îÇ Titulo              ‚îÇ
‚îÇ Precio              ‚îÇ
‚îÇ Disponibilidad      ‚îÇ
‚îÇ Rating              ‚îÇ
‚îÇ id_categoria (FK)   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
           ‚îÇ
           ‚îÇ N:N (muchos libros, muchos autores)
           ‚îÇ
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚ñº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ   LIBRO_AUTOR       ‚îÇ ‚Üê Tabla intermedia
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ id_libro (PK, FK)   ‚îÇ
‚îÇ id_autor (PK, FK)   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
           ‚îÇ
           ‚îÇ N:1
           ‚îÇ
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚ñº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ      AUTORES        ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ id_autor (PK)       ‚îÇ
‚îÇ nombre_autor        ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò


   PK = Primary Key (Clave Primaria)
   FK = Foreign Key (Clave For√°nea)
   1:N = Uno a muchos
   N:N = Muchos a muchos
   
üìù Explicaci√≥n:
   - Cada LIBRO pertenece a una CATEGORIA (relaci√≥n N:1)
   - Cada LIBRO puede tener varios AUTORES (relaci√≥n N:N)
   - La tabla LIBRO_AUTOR resuelve la relaci√≥n muchos-a-muchos
   - Los autores son REALES obtenidos de Open Library API
""")

============================================================
DIAGRAMA UML
------------------------------------------------------------

üìê DIAGRAMA DE RELACIONES (UML):

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ    CATEGORIAS       ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ id_categoria (PK)   ‚îÇ
‚îÇ nombre_categoria    ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
           ‚îÇ
           ‚îÇ 1:N (una categor√≠a, muchos libros)
           ‚îÇ
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚ñº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ      LIBROS         ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ id_libro (PK)       ‚îÇ
‚îÇ Titulo              ‚îÇ
‚îÇ Precio              ‚îÇ
‚îÇ Disponibilidad      ‚îÇ
‚îÇ Rating              ‚îÇ
‚îÇ id_categoria (FK)   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
           ‚îÇ
           ‚îÇ N:N (muchos libros, muchos autores)
           ‚îÇ
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚ñº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ   LIBRO_AUTOR       ‚îÇ ‚Üê Tabla intermedia
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ id_libro (PK, FK)   ‚îÇ
‚îÇ id_autor (PK, FK)   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
           ‚îÇ
           ‚îÇ N:1
           ‚îÇ
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚ñº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ      AUTORES        ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ id_autor (PK)       ‚îÇ
‚îÇ nombre_autor        ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò


   PK = Primary Key (Clave Primaria)
   FK = Foreign Key (Clave For√°nea)
   1:N = Uno a muchos
   N:N = Muchos a muchos

üìù Explicaci√≥n:
   - Cada LIBRO pertenece a una CATEGORIA (relaci√≥n N:1)
   - Cada LIBRO puede tener varios AUTORES (relaci√≥n N:N)
   - La tabla LIBRO_AUTOR resuelve la relaci√≥n muchos-a-muchos
   - Los autores son REALES obtenidos de Open Library API

In [18]:
# ==========================================
# RESUMEN FINAL
# ==========================================
print("="*60)
print("PROYECTO COMPLETADO")
print("="*60)

print(f"""
RESUMEN:
   ‚úÖ Categor√≠as scrapeadas: {len(categorias)}
   ‚úÖ Libros extra√≠dos: {len(tabla_df)}
   ‚úÖ Autores obtenidos de la API: {total_autores}
   ‚úÖ Tablas en base de datos: 4
   ‚úÖ √çndices: 1
   ‚úÖ Consultas SQL: 8 (b√°sicas, JOINs, GROUP BY, avanzadas)
   ‚úÖ Diagrama UML: incluido

""")

# Cerramos la conexi√≥n
conexion.close()
print("üîí Conexi√≥n cerrada\n")

============================================================
PROYECTO COMPLETADO
============================================================

RESUMEN:
   ‚úÖ Categor√≠as scrapeadas: 50
   ‚úÖ Libros extra√≠dos: 1000
   ‚úÖ Autores obtenidos de la API: 851
   ‚úÖ Tablas en base de datos: 4
   ‚úÖ √çndices: 1
   ‚úÖ Consultas SQL: 8 (b√°sicas, JOINs, GROUP BY, avanzadas)
   ‚úÖ Diagrama UML: incluido


üîí Conexi√≥n cerrada